.btn {
  display: block;
  width: 200px;
  padding: 25px;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  background-color: rgb(78, 19, 241);
  border-bottom: 3px solid rgb(248, 11, 42);
  text-align: center;
  font-weight: bold;
  position: relative;
}

.btn:hover{
  background-color: aqua;
  color: darkorange;
}

.under-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}

.btn:hover > .under-nav {
  display: block;
}